<header>
  <div class = "container">
    <a href = "#" class = "logo">CoolApp</a>
    <nav>
      <ul>
        <li><a href = "#" routerLink = "/"></a></li>
        <li><a href = "#" routerLink = "/reviews">Reviews</a></li>
        <li><a href = "#" routerLink = "/learn">Learn</a></li>
        <li><a href = "#" routerLink = "/popular">Popular</a></li>
        <li><a href = "#" routerLink = "/list">List</a></li>
      </ul>
    </nav>
    </div>
</header>

<div class = "container">
  <router-outlet></router-outlet>
</div>
