<h1>Welcome!</h1>

<div class = "play-container">
  <p>You've clicked <span (click)="countClick()">this</span> {{clickCounter}}</p>
</div>

<div class = "play-container">
  <p>
    <input type="text" [(ngModel)] = "name">
    <br>
    <strong>You said: {{name}}</strong>
  </p>
</div>

<div class = "play-container" [style.background-color] = "clickCounter > 4 ? 'yellow' : 'lightgrey'">
  <ng-template [ngIf]="clickCounter > 4" [ngIfElse] = "none">
  <p>The click counter <strong>IS GREATER</strong> than 4.</p>
  </ng-template>

  <ng-template #none>
<p>The click counter is <strong>NOT GREATER</strong> than 4.</p>
  </ng-template>
</div>

<div class = "play-container" [ngStyle] = "{
  'background-color' : clickCounter > 4 ? 'yellow' : 'lightgrey',
  'border' :           clickCounter > 4 ? '1px solid black' : none
}">
  <ng-template [ngIf]="clickCounter > 4" [ngIfElse] = "none">
  <p>The click counter <strong>IS GREATER</strong> than 4.</p>
  </ng-template>

  <ng-template #none>
<p>The click counter is <strong>NOT GREATER</strong> than 4.</p>
  </ng-template>
</div>

<div class = "play-container" [class.active]="clickCounter > 4">
  <ng-template [ngIf]="clickCounter > 4" [ngIfElse] = "none">
  <p>The click counter <strong>IS GREATER</strong> than 4.</p>
  </ng-template>

  <ng-template #none>
<p>The click counter is <strong>NOT GREATER</strong> than 4.</p>
  </ng-template>
</div>
